.photo-grid{
    margin: 92px 48px 0 48px;
    display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: auto;
  gap: 14px 14px;
}
@media screen and (min-width: 1280px){
  .photo-grid{
    max-width: 1184px;
  grid-template-columns: 284px 284px 284px 284px;
  gap: 16px 16px;
  margin: 92px auto 0 auto;
  }
}
@media screen and (max-width: 768px){
  .photo-grid{
  grid-template-columns: 352px 352px;
  gap: 16px 16px;
  margin: 92px 24px 0 24px;
  }
}
@media screen and (max-width: 750px){
  .photo-grid{
  grid-template-columns: 100%;
  gap: 12px;
  margin: 92px 16px 0 16px;
  }
}
