.lead{
    max-width: 90%;
    margin: 48px 48px 114px 48px;
    padding: 0;
}
@media screen and (max-width:860px){
    .lead{
        max-width: 100%;
        margin: 48px 0 0 0;
    }
}
@media screen and (min-width:1280px){
    .lead{
        margin: 56px auto 114px auto;
        max-width: 984px;
        }
}