.footer__links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 695px){
    .footer__links{
        flex-direction: column;
        text-align: start;
    }
}