.place__paragraph{
   margin: 0 0 27px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
}
.place__paragraph:nth-child(2){
    margin-bottom: 0;
  }
@media screen and (max-width:768px){
    .place__paragraph{
        font-size: 16px;
      /*  margin: 0 0 25px 0;*/
    }
}
