.lead__image{
    max-width: 100%;
    height: 615px;
    margin-top: 56px;
}
@media screen and (max-width:860px){
    .lead__image{
    max-height: 480px;
    }
}
@media screen and (max-width:400px){
    .lead__image{
    max-height: 200px;
    margin-top: 24px;
    }
}
