.lead__subtitle{
    max-width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto;
}
@media screen and (max-width:700px){
.lead__subtitle{
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
}