.cover{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    box-sizing: content-box;
}
.cover:hover::before,
.cover:focus::before{
    content: "";
    background-color: #2A2C2F;
    z-index: 2;
    width: 100%;
    min-height: 740px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    opacity: 80%;
}
@media screen and (max-width:1024px){
  .cover{
    min-height: 640px;
  }
}
@media screen and (max-width:768px){
  .cover{
    min-height: 480px;
  }
}
@media screen and (max-width:390px){
  .cover{
    min-height: 200px;
  }
}